<div class="list-item">
  <div class="list-item__text">
    <div class="list-item__name">{{name}}</div>
    <div class="list-item__description">{{description}}</div>
    <div class="list-item__date">{{date | date: 'dd.MM.yyyy'}}</div>
  </div>
  <div class="list-item__buttons">
    <button
      *ngIf="editable"
      pButton
      pRipple
      type="button"
      label="Отменить редактирование"
      (click)="onUndoEdit($event)"
      class="list-item__undo"
    ></button>
    <button
      *ngIf="editable"
      pButton
      pRipple
      type="button"
      label="Изменить"
      (click)="onEdit($event)"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      class="p-button-rounded p-button-danger list-item__delete"
      (click)="onDelete($event)"
    ></button>
  </div>
</div>
